/*-------------------------------------------------------*/
/*----------------------BREAKPOINTS----------------------*/
/*-------------------------------------------------------*/
$breakpoints: (
    "phone":        300px,
    "phone-wide":   480px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px,
    "desktop-super-wide": 1920px,
) !default;

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

/*-------------------------------------------------------*/
/*------------------------VARIABLES----------------------*/
/*-------------------------------------------------------*/
$accent-colour: #8894C3;
$normal-colour: #19647E;
$yellow: #FEDA4D;

$accent-font: 'Comfortaa', cursive;
$normal-font: 'Muli', sans-serif;

@mixin accent-bold {
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}	


@mixin normal-font {
	font-family: 'Muli', sans-serif;
	font-weight: 400;
    color: $normal-colour;
}


body {  
padding: 0px 0px;
margin: 0px 0px;
overflow-x: hidden;
}

/*-------------------------------------------------------*/
/*-------------------------TEXT--------------------------*/
/*-------------------------------------------------------*/

h1, h2, h4, p {
	@include accent-bold;
}

h1, h4, p {
	color: $normal-colour;
}

h1 {
	font-size: 23px;
	font-weight: 700;
	line-height: 32px;

	margin: 0px 0px;

	@include mq('tablet'){
		font-size: 32px;
	}

	@include mq('desktop'){
		font-size: 32px;
		line-height: 45px;
	}
}

h2 {
	font-size: 20px;
	color: $accent-colour;

	margin-top: 0px;
	margin-bottom: 20px;

		@include mq('tablet'){
		font-size: 25px;
		margin-bottom: 25px;
		}

		@include mq('desktop'){
		font-size: 38px;
		margin-bottom: 30px;
		}
}


h4 {
	font-size: 20px;
	text-align: right;
}

p {
	font-size: 14px;
	line-height: 30px;

	@include mq('tablet'){
		font-size: 16px;
	}

	@include mq('desktop'){
		font-size: 18px;
	}
}

/*-------------------------------------------------------*/
/*------------------------NAV BAR------------------------*/
/*-------------------------------------------------------*/

.navbar {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	height: 40px;
	padding: 15px 35px; 
	margin: 0px 0px;

	z-index: 10;
	top: 0;
	right: 0;
	left: 0;

	background-color: white;
	box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.05);

	@include mq('tablet'){
		height: 40px;
		padding: 15px 80px; 
		margin: 0px 0px;
	}

}

ul, li {
	list-style-type: none;

	margin: 0px 0px;
	padding: 0px 0px;
}


.navigation {
	display: none;

	@include mq('tablet'){
		width: 40%;

		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;

		width: 100%;
	
		 li{
		 	a {
			font-family: 'Comfortaa', cursive;
			font-weight: 700;
			color: #19647E;

			text-decoration: none;

			&:hover {
				color:$yellow; 
			}

			}
		 }
	}
}


.logo {
	width: 40%;

	@include mq('tablet-small'){
		width: 30%
	}

	@include mq('tablet-wide'){
		width: 15%;
	}

	img {
		width: 100%;
	}
}


/*-------------------------------------------------------*/
/*---------------------NAV RESPONSIVE--------------------*/
/*-------------------------------------------------------*/
.menu-toggle {
	display: flex;
	flex-flow: column;
    justify-content: space-between;
    
	background: transparent;

	position: relative;

	cursor: pointer;

	height: 15px;
	width: 25px;

	z-index: 10;

	@include mq("tablet-wide"){
		display: none;
	}

		span {
			transition: 0.30s ease-in-out;

			background: $normal-colour;

			position: absolute;

			border-radius: 3px;

			height: 3px;
			width: 100%;

			&:first-child {
				top: 0;
			}

			&:last-child {
				bottom: 0;
				right: 0;
				width: 100%;
			}
	}
}

.open {
	z-index: 10;

	span{

		&:first-child{
			transform: rotate(45deg);
			top: 1px;
		}

		&:last-child{
			transform: rotate(-45deg);
			bottom: 10px;
			width: 100%;
		}
	}
}

.navResponsive {
	position: fixed;
	top: -30vh;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow-x: hidden;

	display: flex;
	align-items: center;
	justify-content: space-around;
	
	width: 100%;
	height: 30vh;
	padding: 0px 0px;
	padding-top: 80px;
	padding-bottom: 60px;

	opacity: 0;
	background-color: white;
	box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.05);

	clip-path: circle(0px at top right);
	transition: 0.50s ease-in-out;

	&.open2{
		opacity: 1;
		top:0;
		clip-path: circle(180% at top right);
	}
}

.ulResponsive{
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	ul {
		height: 100%;
		width: 100%;

		display: flex;
		align-items: center;
		flex-flow: column wrap;
		justify-content: space-between;

		 li{
		 	a {
			font-family: 'Comfortaa', cursive;
			font-size: 18px;
			font-weight: 700;
			color: #19647E;

			text-decoration: none;
			}
		 }
	}
}

/*-------------------------------------------------------*/
/*------------------------HERO---------------------------*/
/*-------------------------------------------------------*/

.content, .hero {
	padding: 0px 50px;

	@include mq('tablet-small'){
		padding: 0px 70px;
	}

	@include mq('tablet'){
		padding: 0px 100px;
	}

	@include mq('tablet-wide'){
		padding: 0px 170px;
	}
}

.hero {
	height: 100vh;
	margin: 0px 0px;

	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: flex-end;

	background-image: url(assets/Artboard%206.png);
	background-size: cover;
	background-position: right;

	@include mq('tablet'){
		background-size: center;
	}
}

.herotext {
	width: 100%;
	margin-bottom: 100px;

	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: space-between;

	@include mq('tablet-small'){
		width: 65%;
	}

	@include mq('tablet'){
		width: 55%;
	}

	@include mq('tablet-wide'){
		width: 35%;
	}

}

/*-------------------------------------------------------*/
/*----------------------BUTTONS--------------------------*/
/*-------------------------------------------------------*/
.download {
	text-align: right;

	padding: 20px 20px;

	border: none;
	border-radius: 100px; 
  	background-color: #FEDA4D;

  	&:not(:last-child) {
  		margin-right: 15px;
  	}

  	&:hover{
  		background-color: #FECB05;
  	}
  	
}

svg {
	width: 20px;
	height: 20px;

	@include mq('tablet-wide'){
		width: 30px;
		height: 30px;
	}
}

/*-------------------------------------------------------*/
/*------------------------CONTENT------------------------*/
/*-------------------------------------------------------*/
.content{
	background-image: url('assets/content.png');
	background-position: 70%; 
	background-size: cover;
}

.seek, .give, .new {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	height: auto;

	padding: 50px 0px;

	&:not(:last-child){
		margin-bottom: 50px;
	}

	@include mq('tablet-wide'){
		height: 80vh;
	}
	
	@include mq('desktop'){
		height: 100vh;
		padding: 100px 0px;
	}
}

.text {
	width: 100%;
	margin-bottom: 50px;

	@include mq('tablet-wide'){
		width: 40%;
	}

	@include mq('tablet-wide'){
		margin-bottom: 0px;
	}



	li {
		font-family: 'Muli', sans-serif;
		font-size: 16px;
		color: #404A70;

		line-height: 30px;

		&:not(:last-child){
			margin-bottom: 10px;
		}

		@include mq('tablet'){
			font-size: 18px;

			&:not(:last-child){
			margin-bottom: 15px;
			}
		}

		@include mq('desktop'){
			font-size: 20px;

			&:not(:last-child){
			margin-bottom: 20px;
			}
		}
	}
}	

.mockups {
	width: 100%;
	text-align: center;

	@include mq('tablet-wide'){
		width: 45%;
	}	
}

.together {
	img {
		width: 70%;
	}
}

.new {
	.mockups {
		display: none;

		@include mq('desktop'){
			display: block;
		}
	}
	p {
		margin-bottom: 35px;

		@include mq('tablet-wide'){
			margin-bottom: 70px;
		}
		
	}
}

/*-------------------------------------------------------*/
/*-----------------------IMAGES--------------------------*/
/*-------------------------------------------------------*/
img {
		width: 100%; 
	}

.web {
	display: none;

	@include mq('tablet-wide') {
		display: flex;
	}
}

.mobile {
	display: flex;

	img {
		width: 70%;
	}

	@include mq('tablet-wide') {
		display: none;
	}
}

/*-------------------------------------------------------*/
/*------------------------FOOTER-------------------------*/
/*-------------------------------------------------------*/

footer {
	width: 100%;
	height: auto;

	padding: 50px 50px;	

	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
	justify-content: space-around;

	background-color: #19647E;

	overflow-x: hidden; 

	@include mq('tablet'){

		height: 15vh;
		padding:0px 0px ;
		padding-top: 290px;

		flex-flow: row wrap;	

		background-image: url(assets/footer.png);
	}

	ul:not(:last-child){
			margin-bottom: 20px;

			@include mq('tablet-wide'){
				margin-bottom: 0px;
			}
		}

	li {
		font-family: $accent-font;
		font-size: 14px;
		line-height: 30px;
		color: white;	

		@include mq('tablet'){
			color: #19647E
		}
	}

	svg {
		fill: white;

		@include mq('tablet'){
			fill: #19647E
		}
	}
}

.social {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: space-between;	

	li:first-child{
		margin-right: 20px;
	}
}


	
