/*-------------------------------------------------------*/
/*----------------------BREAKPOINTS----------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*------------------------VARIABLES----------------------*/
/*-------------------------------------------------------*/
body {
  padding: 0px 0px;
  margin: 0px 0px;
  overflow-x: hidden;
}

/*-------------------------------------------------------*/
/*-------------------------TEXT--------------------------*/
/*-------------------------------------------------------*/
h1, h2, h4, p {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}

h1, h4, p {
  color: #19647E;
}

h1 {
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
  margin: 0px 0px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1248px) {
  h1 {
    font-size: 32px;
    line-height: 45px;
  }
}

h2 {
  font-size: 20px;
  color: #8894C3;
  margin-top: 0px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1248px) {
  h2 {
    font-size: 38px;
    margin-bottom: 30px;
  }
}

h4 {
  font-size: 20px;
  text-align: right;
}

p {
  font-size: 14px;
  line-height: 30px;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1248px) {
  p {
    font-size: 18px;
  }
}

/*-------------------------------------------------------*/
/*------------------------NAV BAR------------------------*/
/*-------------------------------------------------------*/
.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 15px 35px;
  margin: 0px 0px;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.05);
}
@media only screen and (min-width: 768px) {
  .navbar {
    height: 40px;
    padding: 15px 80px;
    margin: 0px 0px;
  }
}

ul, li {
  list-style-type: none;
  margin: 0px 0px;
  padding: 0px 0px;
}

.navigation {
  display: none;
}
@media only screen and (min-width: 768px) {
  .navigation {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.navigation ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navigation ul li a {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  color: #19647E;
  text-decoration: none;
}
.navigation ul li a:hover {
  color: #FEDA4D;
}

.logo {
  width: 40%;
}
@media only screen and (min-width: 640px) {
  .logo {
    width: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  .logo {
    width: 15%;
  }
}
.logo img {
  width: 100%;
}

/*-------------------------------------------------------*/
/*---------------------NAV RESPONSIVE--------------------*/
/*-------------------------------------------------------*/
.menu-toggle {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: transparent;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 25px;
  z-index: 10;
}
@media only screen and (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle span {
  transition: 0.3s ease-in-out;
  background: #19647E;
  position: absolute;
  border-radius: 3px;
  height: 3px;
  width: 100%;
}
.menu-toggle span:first-child {
  top: 0;
}
.menu-toggle span:last-child {
  bottom: 0;
  right: 0;
  width: 100%;
}

.open {
  z-index: 10;
}
.open span:first-child {
  transform: rotate(45deg);
  top: 1px;
}
.open span:last-child {
  transform: rotate(-45deg);
  bottom: 10px;
  width: 100%;
}

.navResponsive {
  position: fixed;
  top: -30vh;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30vh;
  padding: 0px 0px;
  padding-top: 80px;
  padding-bottom: 60px;
  opacity: 0;
  background-color: white;
  box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.05);
  clip-path: circle(0px at top right);
  transition: 0.5s ease-in-out;
}
.navResponsive.open2 {
  opacity: 1;
  top: 0;
  clip-path: circle(180% at top right);
}

.ulResponsive {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ulResponsive ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: space-between;
}
.ulResponsive ul li a {
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  font-weight: 700;
  color: #19647E;
  text-decoration: none;
}

/*-------------------------------------------------------*/
/*------------------------HERO---------------------------*/
/*-------------------------------------------------------*/
.content, .hero {
  padding: 0px 50px;
}
@media only screen and (min-width: 640px) {
  .content, .hero {
    padding: 0px 70px;
  }
}
@media only screen and (min-width: 768px) {
  .content, .hero {
    padding: 0px 100px;
  }
}
@media only screen and (min-width: 1024px) {
  .content, .hero {
    padding: 0px 170px;
  }
}

.hero {
  height: 100vh;
  margin: 0px 0px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url(assets/Artboard%206.png);
  background-size: cover;
  background-position: right;
}
@media only screen and (min-width: 768px) {
  .hero {
    background-size: center;
  }
}

.herotext {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (min-width: 640px) {
  .herotext {
    width: 65%;
  }
}
@media only screen and (min-width: 768px) {
  .herotext {
    width: 55%;
  }
}
@media only screen and (min-width: 1024px) {
  .herotext {
    width: 35%;
  }
}

/*-------------------------------------------------------*/
/*----------------------BUTTONS--------------------------*/
/*-------------------------------------------------------*/
.download {
  text-align: right;
  padding: 20px 20px;
  border: none;
  border-radius: 100px;
  background-color: #FEDA4D;
}
.download:not(:last-child) {
  margin-right: 15px;
}
.download:hover {
  background-color: #FECB05;
}

svg {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 1024px) {
  svg {
    width: 30px;
    height: 30px;
  }
}

/*-------------------------------------------------------*/
/*------------------------CONTENT------------------------*/
/*-------------------------------------------------------*/
.content {
  background-image: url("assets/content.png");
  background-position: 70%;
  background-size: cover;
}

.seek, .give, .new {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 50px 0px;
}
.seek:not(:last-child), .give:not(:last-child), .new:not(:last-child) {
  margin-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
  .seek, .give, .new {
    height: 80vh;
  }
}
@media only screen and (min-width: 1248px) {
  .seek, .give, .new {
    height: 100vh;
    padding: 100px 0px;
  }
}

.text {
  width: 100%;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
  .text {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .text {
    margin-bottom: 0px;
  }
}
.text li {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  color: #404A70;
  line-height: 30px;
}
.text li:not(:last-child) {
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .text li {
    font-size: 18px;
  }
  .text li:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 1248px) {
  .text li {
    font-size: 20px;
  }
  .text li:not(:last-child) {
    margin-bottom: 20px;
  }
}

.mockups {
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .mockups {
    width: 45%;
  }
}

.together img {
  width: 70%;
}

.new .mockups {
  display: none;
}
@media only screen and (min-width: 1248px) {
  .new .mockups {
    display: block;
  }
}
.new p {
  margin-bottom: 35px;
}
@media only screen and (min-width: 1024px) {
  .new p {
    margin-bottom: 70px;
  }
}

/*-------------------------------------------------------*/
/*-----------------------IMAGES--------------------------*/
/*-------------------------------------------------------*/
img {
  width: 100%;
}

.web {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .web {
    display: flex;
  }
}

.mobile {
  display: flex;
}
.mobile img {
  width: 70%;
}
@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

/*-------------------------------------------------------*/
/*------------------------FOOTER-------------------------*/
/*-------------------------------------------------------*/
footer {
  width: 100%;
  height: auto;
  padding: 50px 50px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: space-around;
  background-color: #19647E;
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  footer {
    height: 15vh;
    padding: 0px 0px;
    padding-top: 290px;
    flex-flow: row wrap;
    background-image: url(assets/footer.png);
  }
}
footer ul:not(:last-child) {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1024px) {
  footer ul:not(:last-child) {
    margin-bottom: 0px;
  }
}
footer li {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  line-height: 30px;
  color: white;
}
@media only screen and (min-width: 768px) {
  footer li {
    color: #19647E;
  }
}
footer svg {
  fill: white;
}
@media only screen and (min-width: 768px) {
  footer svg {
    fill: #19647E;
  }
}

.social {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}
.social li:first-child {
  margin-right: 20px;
}

/*# sourceMappingURL=output.css.map */
